.App {
  text-align: center;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer {
  width: 80vw;
  height: 240px;
  background-color: #434343;
  padding-left: 10vw;
  padding-right: 10vw;
}

#subscribe {
  width: 100vw;
  height: 200px;
  background-color: #F7F5F2;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 18px;
  color: #707070;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 72px;
}

h2 {
  color: #F1C232;

}

h3 {
  font-size: 36px;
  margin: 0;
  padding-bottom: 20px;
}

h4 {
  font-size: 24px;
}

input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid;
  font-family: 'Ubuntu';
  font-size: 16px;
  color: #707070;
  margin: 36px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 240px;
  outline: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

l {
  list-style-type: disc;
  display: list-item;
  margin-bottom: 12px;
}

box {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 20px;
  margin-top: 60px;
  margin-bottom: -10vh;
  z-index: 1;
  text-align: left;
}

box-text {
  background-color: #F7F5F2;
  padding: 40px;
  border-radius: 20px;
  padding-top: 100px;
  margin-top: -80px;
  height: 100px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

box-title {
  color: white;
  font-weight: bold;
  background-color: #F1C232;
  border-radius: 20px 20px 20px 0px;
  padding: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  height: 40px;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #F1C232;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #F1C232;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}


blue {
  background-color: #038088;
  width: 100vw;
  height: 40vh;
  z-index: 0;
  margin-top: -40vh;
}

page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Ubuntu';
  font-size: 18px;
  color: #434343;
}

.button {
  background-color: #038088;
  color: white;
  font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 40px 40px 0px 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-width: 3px;
  border-color: #038088;
  border-style: solid;
}

.button-sub {
  border-radius: 0px 40px 40px 40px;
  background-color: white;
  color: #038088;
}


.button:hover {
  cursor: pointer;
}

.button:active {
  cursor: pointer;
  background-color: #006a71;
  border-color: #006a71;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  color: white;
}

.button2 {
  background-color: #038088;
  color: white;
  font-family: 'Ubuntu';
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 40px;
  border-bottom: 0px solid;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: auto;
}

.button2:hover {
  cursor: pointer;
}

.button2:active {
  cursor: pointer;
  background-color: #006a71;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.social {
  height: 36px;
  margin: 8px;
}

.social:hover {
  cursor: pointer;
}

.social:active {
  opacity: 0.6;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fyp {
  margin-right: -100px;
}

#page-three {
  margin-bottom: 20px;
}

#hero-one {
  margin-left: 8vw;
  margin-top: 480px;
  height: 900px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

#hero-two {
  margin-right: 40px;
  height: 580px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  z-index: 1;
}

#hero-four {
  margin-right: 80px;
  height: 500px;
}

#hero-five {
  margin-left: 20px;
  height: 320px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  z-index: 1;
}

#circle-two-1 {
  margin-top: -300px;
  margin-left: -100px;
  width: 300px;
  height: 300px;
  background-color: #038088;
}

#circle-two-2 {
  margin-top: -520px;
  margin-left: 160px;
  width: 160px;
  height: 160px;
  background-color: #038088;
}

#circle-five {
  margin-top: -300px;
  margin-left: 80px;
  width: 200px;
  height: 200px;
}

#hero-five-container {
  margin-top: -100px;
}

#hero-two-container {
  margin-top: -360px;
}

.pin {
  margin-left: 8px;
  height: 20px;
}

.text-box {
  width: 360px;
  text-align: left;
}

#email-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (max-width: 1000px) {
  page {
    flex-direction: column;
  }
  #footer-text {
    font-size: 14px;
  }
  #hero-one {
    margin-top: 0px;
    height: 500px;
    margin-bottom: -500px;
    margin-left: 0px;
  }
  #hero-two {
    margin-top: -180px;
    margin-bottom: -820px;
    margin-right: 0px;
  }
  box {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  #page-three-container {
    height: 1100px;
  }
  #page-five-container {
    height: 800px;
  }
  #learn-more {
    height: 1000px;
  }
  .button2 {
    margin-top: 20px;
  }
  .button {
    font-size: 14px;
  }
  input {
    margin-top: 20px;
    width: 360px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
  }
  #email-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #qlq {
    padding-top: 80px;
  }
  .text-box {
    width: 60vw;
  }
  #hero-five {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h1 {
    margin: 0;
    font-size: 48px;
  }

  h2 {
    color: #F1C232;
  }

  h3 {
    font-size: 36px;
    margin: 0;
    padding-bottom: 20px;
  }

  h4 {
    font-size: 16px;
  }
  #social-bar {
    margin-left: -40px;
  }

}
